# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.cache
build/
dist/
eggs/
sdist/
*.egg-info/
.installed.cfg
*.egg

# Docs
docs/*.aux
docs/*.log
docs/*.pdf

# emacs
*~