# Byte-compiled / optimized / DLL files
__pycache__
*.pyc

# C extensions / cython-generated
cubefit/*.c
*.so

# Distribution / packaging
.cache
build/
dist/
eggs/
sdist/
*.egg-info/
.installed.cfg
*.egg

# Docs
docs/*.aux
docs/*.log
docs/*.pdf

# emacs
*~

# test data
testset/*